.cardContainer {
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 40rem;
    padding: 10rem 2rem;
    
    h5{
        font-size: 2rem;
        text-align: center;
    }
}
