.icon {
    font-size: 2rem;
    margin-left: .5rem;
}

.red {
    color: #ff0000;
}

.green {
    color: #76cc8e;
}

.orange {
    color: #ffa500;
}

.text{
    margin: auto;
}

.grey {
    color: rgb(172, 172, 172);
}