@import '../../../styles/variable';


.btn {
    color: white !important;
    background-color: $primary;
    font-size: 1.5rem;
    padding: .9rem 2rem;
    border-radius: .5rem;
    // font-weight: 400;
}